{{- if and .Values.query.enabled (not .Values.query.omop.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-%s" .Release.Name "query-omop-secret"  }}
  labels:
    {{- include "recruit.labels" . | nindent 4 }}
    app.kubernetes.io/component: query
type: Opaque
data:
  omop-password: {{ include "recruit.omop.password" . | b64enc | quote }}
{{- end -}}
