services:
  omopdb:
    image: ghcr.io/miracum/recruit/omop-cdm-test-db:v4.0.0
    restart: unless-stopped
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    shm_size: 1024m
    mem_limit: 2048m

  ohdsi-webapi:
    image: docker.io/ohdsi/webapi:2.11.0
    ports:
      - "127.0.0.1:38089:8080"
    restart: unless-stopped
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    mem_limit: 2048m
    read_only: true
    tmpfs:
      - /tmp
    environment:
      PGHOST: omopdb
      DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
      DATASOURCE_URL: jdbc:postgresql://omopdb:5432/ohdsi
      DATASOURCE_USERNAME: postgres
      DATASOURCE_PASSWORD: postgres
      DATASOURCE_OHDSI_SCHEMA: ohdsi
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA: ohdsi
      SPRING_BATCH_REPOSITORY_TABLEPREFIX: ohdsi.BATCH_
      FLYWAY_DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
      FLYWAY_DATASOURCE_URL: jdbc:postgresql://omopdb:5432/ohdsi
      FLYWAY_DATASOURCE_USERNAME: postgres
      FLYWAY_DATASOURCE_PASSWORD: postgres
      FLYWAY_LOCATIONS: classpath:db/migration/postgresql
      FLYWAY_PLACEHOLDERS_OHDSISCHEMA: ohdsi
      FLYWAY_SCHEMAS: ohdsi
      SECURITY_CORS_ENABLED: "true"
      SECURITY_ORIGIN: "http://localhost:38084"
    depends_on:
      - omopdb

  ohdsi-atlas:
    image: docker.io/ohdsi/atlas:2.11.0
    ports:
      - "127.0.0.1:38084:8080"
    restart: unless-stopped
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    mem_limit: 64m
    environment:
      WEBAPI_URL: "http://localhost:38089/WebAPI/"
    depends_on:
      - ohdsi-webapi

  fhir:
    image: docker.io/hapiproject/hapi:v6.0.1
    restart: unless-stopped
    cap_drop:
      - ALL
    ports:
      - "127.0.0.1:38083:8080"
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    mem_limit: 2048m
    read_only: true
    tmpfs:
      - /tmp
      - /app/target
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://fhir-db:5432/fhir?currentSchema=public"
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
      spring.jpa.properties.hibernate.dialect: ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgres94Dialect
      HAPI_FHIR_VALIDATION_REQUESTS_ENABLED: "false"
      HAPI_FHIR_USE_APACHE_ADDRESS_STRATEGY: "true"
      HAPI_FHIR_ENFORCE_REFERENTIAL_INTEGRITY_ON_DELETE: "false"
      HAPI_FHIR_ENFORCE_REFERENTIAL_INTEGRITY_ON_WRITE: "false"
      HAPI_FHIR_SUBSCRIPTION_RESTHOOK_ENABLED: "true"
      HAPI_FHIR_ALLOW_MULTIPLE_DELETE: "true"
    depends_on:
      - fhir-db

  fhir-db:
    image: docker.io/library/postgres:14.4
    restart: unless-stopped
    mem_limit: 512m
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fhir

  maildev:
    image: docker.io/maildev/maildev:2.0.5
    restart: unless-stopped
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    ports:
      - "127.0.0.1:38085:1080"
    mem_limit: 64m

  keycloak:
    image: quay.io/keycloak/keycloak:15.1.1
    restart: unless-stopped
    cap_drop:
      - ALL
    mem_limit: 1024m
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    command:
      - -Dkeycloak.migration.action=import
      - -Dkeycloak.migration.provider=singleFile
      - -Dkeycloak.migration.file=/tmp/realm.json
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_STATISTICS: "all"
    volumes:
      - ./staging/aio-export.json:/tmp/realm.json:ro
    ports:
      - "127.0.0.1:38086:8080"

  notify:
    mem_limit: 512m
    depends_on:
      - fhir
      - maildev

  query:
    mem_limit: 512m
    depends_on:
      - fhir
      - omopdb
      - ohdsi-webapi

  list:
    mem_limit: 64m
    depends_on:
      - fhir
