apiVersion: v2
name: recruit
type: application
description: Helm chart for deploying the MIRACUM recruitment infrastructure on Kubernetes.
home: https://miracum.github.io/recruit
keywords:
  - miracum
  - fhir
  - clinical trials
  - patient recruitment
  - omop cdm
  - ctrss
maintainers:
  - name: chgl
sources:
  - https://github.com/miracum/recruit/tree/master/charts/recruit
deprecated: false
kubeVersion: ">= 1.21.0"
icon: https://miracum.github.io/recruit/_img/miracum-recruit-k8s-logo.png
dependencies:
  - condition: fhirserver.enabled
    alias: fhirserver
    name: hapi-fhir-jpaserver
    repository: https://hapifhir.github.io/hapi-fhir-jpaserver-starter
    version: 0.21.0
  - condition: mailhog.enabled
    name: mailhog
    repository: oci://ghcr.io/codecentric/helm-charts
    version: 5.8.0
  - condition: ohdsi.enabled
    name: ohdsi
    repository: oci://ghcr.io/chgl/charts
    version: 0.25.38
  - name: postgres
    version: 0.13.6
    repository: oci://registry-1.docker.io/cloudpirates
    condition: postgres.enabled
  - condition: fhir-pseudonymizer.enabled
    name: fhir-pseudonymizer
    version: 0.8.21
    repository: oci://ghcr.io/miracum/charts
  - name: common
    repository: oci://ghcr.io/miracum/charts
    version: 0.1.1
version: 10.4.5 # x-release-please-version
appVersion: 10.4.5 # x-release-please-version
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/license: AGPL-3.0-or-later
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    - url: https://artifacthub.io/packages/helm/cloudpirates-postgres/postgres
    - url: https://artifacthub.io/packages/helm/chgl/fhir-server-exporter
    - url: https://artifacthub.io/packages/helm/jaegertracing/jaeger
  artifacthub.io/links: |
    - name: Deployment Instructions
      url: https://miracum.github.io/recruit/deployment/kubernetes/
  artifacthub.io/screenshots: |
    - title: Definition of eligibility criteria in the OHDSI ATLAS tool
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/atlas-test-cohort-definition.png
    - title: Screening list overview
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/list-overview-with-test-study.png
    - title: Screening recommendations for a test study
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/list-test-study.png
    - title: Email generated by the notify module
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/mailhog-opened.png
  artifacthub.io/changes: |-
    - kind: changed
      description: updated recruIT image tags to v10.4.5 # x-release-please-version
    - kind: changed
      description: dropped all bitnami charts and images
