apiVersion: v2
name: recruit
type: application
description: Helm chart for deploying the MIRACUM recruitment infrastructure on Kubernetes.
home: https://miracum.github.io/recruit
keywords:
  - miracum
  - fhir
  - clinical trials
  - patient recruitment
  - omop cdm
  - ctrss
maintainers:
  - name: chgl
sources:
  - https://github.com/miracum/recruit/tree/master/charts/recruit
deprecated: false
kubeVersion: ">= 1.21.0"
icon: https://miracum.github.io/recruit/_img/miracum-recruit-k8s-logo.png
dependencies:
  - condition: fhirserver.enabled
    alias: fhirserver
    name: hapi-fhir-jpaserver
    repository: https://hapifhir.github.io/hapi-fhir-jpaserver-starter
    version: 0.11.0
  - condition: ohdsi.enabled
    name: ohdsi
    repository: https://chgl.github.io/charts
    version: 0.20.0
  - condition: mailhog.enabled
    name: mailhog
    repository: https://codecentric.github.io/helm-charts
    version: 5.2.2
  - condition: postgresql.enabled
    name: postgresql
    version: 12.1.2
    repository: https://charts.bitnami.com/bitnami
  - condition: fhir-pseudonymizer.enabled
    name: fhir-pseudonymizer
    version: 0.3.3
    repository: https://miracum.github.io/charts
# x-release-please-start-version
version: 10.0.10
appVersion: 10.0.10
# x-release-please-end
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/license: AGPL-3.0-or-later
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    - url: https://artifacthub.io/packages/helm/bitnami/postgresql
    - url: https://artifacthub.io/packages/helm/chgl/fhir-server-exporter
    - url: https://artifacthub.io/packages/helm/jaegertracing/jaeger
  artifacthub.io/links: |
    - name: Deployment Instructions
      url: https://miracum.github.io/recruit/deployment/kubernetes/
  artifacthub.io/screenshots: |
    - title: Definition of eligibility criteria in the OHDSI ATLAS tool
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/atlas-test-cohort-definition.png
    - title: Screening list overview
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/list-overview-with-test-study.png
    - title: Screening recommendations for a test study
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/list-test-study.png
    - title: Email generated by the notify module
      url: https://miracum.github.io/recruit/_img/atlas-first-cohort/mailhog-opened.png
  artifacthub.io/changes: |
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed and security.
    - kind: changed
      description: updated recruIT image tags to v10.0.10 # x-release-please-version
    - kind: changed
      description: "⚠️ BREAKING CHANGE: updated included postgresql chart to v12, which is based on PostgreSQL 15.1"
    - kind: changed
      description: "⚠️ BREAKING CHANGE: updated included ohdsi chart to v0.20.0, which internally uses a v12 postgresql chart based on PostgreSQL 15.1"
    - kind: changed
      description: "⚠️ BREAKING CHANGE: updated included hapi-fhir-jpaserver chart to v0.11.0, which internally uses a v12 postgresql chart based on PostgreSQL 15.1"
    - kind: changed
      description: "updated fhir-pseudonymizer sub-chart to v0.3.3"
    - kind: changed
      description: "updated mailhog sub-chart to v5.2.2"
    - kind: changed
      description: |
        "added an init container to the query module deployment to wait for the notify module to be ready.
        Required for integration testing where the notify module may be unavailable
        before the query module creates first recommendations therefore causing the FHIR server
        to not be able to trigger the subscription webhook of notify.
        Can be disabled by setting `query.shouldWaitForNotify=false`."
    - kind: changed
      description: |
        mount the notify-rules config at the `/app` path instead of `/opt/notify` due to standardizing the base
        working directory for all containers to `/app`.
