ohdsi:
  postgresql:
    auth:
      postgresPassword: ohdsi
    primary:
      service:
        annotations:
          config.linkerd.io/opaque-ports: "5432"
      resources:
        limits:
          memory: 2Gi
          cpu: 2500m
        requests:
          memory: 256Mi
          cpu: 250m

fhirserver:
  postgresql:
    auth:
      postgresPassword: fhir
    primary:
      service:
        annotations:
          config.linkerd.io/opaque-ports: "5432"
      resources:
        limits:
          memory: 2Gi
          cpu: 2500m
        requests:
          memory: 256Mi
          cpu: 250m

query:
  resources:
    limits:
      memory: 512Mi
    requests:
      memory: 512Mi

list:
  resources:
    limits:
      memory: 128Mi
    requests:
      memory: 128Mi

notify:
  resources:
    limits:
      memory: 512Mi
    requests:
      memory: 512Mi
  ha:
    enabled: true
  rules:
    schedules:
      everyMorning: "0 0 8 1/1 * ? *"

    trials:
      - acronym: "*"
        subscriptions:
          - email: "everything@example.com"

      - acronym: "SAMPLE"
        accessibleBy:
          users:
            - "user1"
            - "user.two@example.com"
        subscriptions:
          - email: "everyMorning@example.com"
            notify: "everyMorning"

postgresql:
  enabled: true
  auth:
    postgresPassword: recruit-notify-ha
  primary:
    service:
      annotations:
        config.linkerd.io/opaque-ports: "5432"
    resources:
      limits:
        memory: 512Mi
        cpu: 2500m
      requests:
        memory: 256Mi
        cpu: 250m

mailhog:
  automountServiceAccountToken: true
  service:
    annotations:
      config.linkerd.io/opaque-ports: "1025"
