name: build-docs
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Declare default permissions as read only.
permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: actions/setup-python@5ccb29d8773c3f3f653e1705f474dfaa8a06a912 # v4.4.0
        with:
          python-version: 3.x
      - run: pip install mkdocs-material==9.*
      - run: mkdocs build --strict --verbose --site-dir=./site

      # - name: build FHIR IG
      #   uses: ghcr.io/miracum/ig-build-tools:v1.0.74@sha256:c33b9cef9076d91f5caa5f4229b0b3591ec8edbfe9986a40b981b1ee6394287c
      #   working-directory: fhir-ig
      #   run: java -jar /usr/local/bin/publisher.jar -ig ig.ini
      # - name: copy FHIR IG output into mkdocs site
      #   run: cp -r fhir-ig/output/ site/fhir

      - run: mkdocs gh-deploy --force
        if: ${{ github.event_name != 'pull_request' }}
