name: "build container image"

permissions: {}

on:
  workflow_call:
    inputs:
      module-name:
        description: "Name of the project inside the /src/ dir"
        type: string
        required: true
      context:
        description: "the docker build context path"
        type: string
        default: .
        required: false
    outputs:
      image-tag:
        description: "The image tag that was built"
        value: ${{ jobs.build.outputs.tag }}

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}/${{ inputs.module-name }}

jobs:
  build:
    name: build container image
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    outputs:
      image: ${{ env.IMAGE_NAME }}
      digest: ${{ steps.build.outputs.digest }}
      tag: ${{ steps.container_meta.outputs.version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Container meta
        id: container_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.created=1970-01-01T00:00:00Z

      - name: Build image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=inline
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.container_meta.outputs.tags }}
          labels: ${{ steps.container_meta.outputs.labels }}
          load: ${{ github.event_name == 'pull_request' }}
          context: ${{ inputs.context }} # zizmor: ignore[template-injection]
          build-args: |
            MODULE_NAME=${{ inputs.module-name }}

      - name: Run unit tests
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          target: test
          context: ${{ inputs.context }} # zizmor: ignore[template-injection]
          build-args: |
            MODULE_NAME=${{ inputs.module-name }}

      - name: Trivy Cache
        uses: yogeshlonkar/trivy-cache-action@fd624debc4ea81f07a4135683c237eb509713e8f # v0.1.16
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{ fromJson(steps.container_meta.outputs.json).tags[0] }}
          severity: "CRITICAL"
          exit-code: "0"
          ignore-unfixed: "true"
          timeout: 15m

      - name: Save Trivy vulnerability attestation
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{ fromJson(steps.container_meta.outputs.json).tags[0] }}
          exit-code: "0"
          format: cosign-vuln
          output: trivy-vuln-attestation.json
          timeout: 15m

      - name: Upload image vulnerability attestation
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.module-name }}-attestations
          path: |
            trivy-vuln-attestation.json

      - name: Save container image as tar archives
        if: ${{ github.event_name == 'pull_request' }}
        shell: bash
        env:
          IMAGE: ${{ fromJson(steps.container_meta.outputs.json).tags[0] }}
          MODULE_NAME: ${{ inputs.module-name }}
        run: |
          docker save "$IMAGE" -o "/tmp/${MODULE_NAME}-image.tar"

      - name: Upload container image
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.module-name }}-build-artifacts
          path: |
            /tmp/${{ inputs.module-name }}-image.tar

  provenance:
    needs:
      - build
    permissions:
      actions: read
      # for creating OIDC tokens for signing.
      id-token: write
      packages: write # for uploading attestations.
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.build.outputs.image }}
      digest: ${{ needs.build.outputs.digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  sign:
    name: sign image
    runs-on: ubuntu-24.04
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build
    permissions:
      contents: read
      id-token: write
      packages: write
    env:
      IMAGE: "${{ needs.build.outputs.image }}@${{ needs.build.outputs.digest }}"
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download attestations
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.module-name }}-attestations
          path: /tmp

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign image
        run: |
          echo "Signing '$IMAGE' using keyless approach"
          cosign sign --yes "$IMAGE"

      - name: Attest image vulnerability report
        run: |
          echo "Attest vulnerability report for '$IMAGE' using keyless approach"
          cosign attest --yes --type vuln --predicate /tmp/trivy-vuln-attestation.json "$IMAGE"
