name: build-docs
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  deploy:
    name: Deploy Documentation
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true # required for pushing to gh-pages
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"
      - run: pip install --require-hashes -r docs/requirements.txt
      - run: mkdocs build --strict --verbose --site-dir=./site

      # - name: build FHIR IG
      #   uses: ghcr.io/miracum/ig-build-tools:v1.0.74@sha256:c33b9cef9076d91f5caa5f4229b0b3591ec8edbfe9986a40b981b1ee6394287c
      #   working-directory: fhir/ig
      #   run: java -jar /usr/local/bin/publisher.jar -ig ig.ini
      # - name: copy FHIR IG output into mkdocs site
      #   run: cp -r fhir/ig/output/ site/fhir

      - run: mkdocs gh-deploy --force
        if: ${{ github.event_name != 'pull_request' }}
