name: Chaos Testing

on:
  workflow_call:

permissions: read-all

jobs:
  run-chaos-tests:
    name: run chaos tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6 # tag=v2.0.0

      - name: Build image
        uses: docker/build-push-action@1cb9d22b932e4832bb29793b7777ec860fc1cde0 # tag=v3.1.1
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          load: true
          context: tests/chaos/tester
          tags: |
            ghcr.io/miracum/recruit/chaos-tester:v1

      - name: Create KinD cluster
        uses: helm/kind-action@d8ccf8fb623ce1bb360ae2f45f323d9d5c5e9f00 # tag=v1.5.0
        with:
          cluster_name: kind

      - name: Download container images
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # tag=v3.0.0
        with:
          name: tester-image-artifacts
          path: /tmp

      - name: Load images into KinD
        run: |
          kind load docker-image ghcr.io/miracum/recruit/chaos-tester:v1

      - name: List images in cluster
        run: docker exec kind-control-plane crictl images

      - name: Install chaos testing prerequisites
        working-directory: tests/chaos
        run: |
          curl -sL -o - https://github.com/argoproj/argo-workflows/releases/download/v3.4.3/argo-linux-amd64.gz | gunzip > argo
          chmod +x ./argo

          kubectl create ns recruit
          kubectl apply -f https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/release-1.18/releases/cnpg-1.18.0.yaml

          kubectl wait --for=condition=ready pod \
            -n cnpg-system \
            --selector='app.kubernetes.io/name=cloudnative-pg' \
            --timeout=5m

          kubectl apply -f cnpg.yaml -n recruit

          helm repo add chaos-mesh https://charts.chaos-mesh.org
          helm upgrade --install chaos-mesh chaos-mesh/chaos-mesh \
            --create-namespace \
            -n chaos-mesh \
            --set chaosDaemon.runtime=containerd \
            --set chaosDaemon.socketPath='/run/containerd/containerd.sock' \
            --version 2.4.3

          kubectl apply -f chaos-mesh-rbac.yaml

          helm repo add argo https://argoproj.github.io/argo-helm
          helm upgrade --install argo-workflows argo/argo-workflows \
              --create-namespace \
              -n argo-workflows \
              -f argo-workflows-values.yaml \
              --version 0.20.8

      - name: Install and scale-up recruIT
        working-directory: tests/chaos
        run: |
          helm upgrade --install -n recruit -f recruit-values.yaml --set notify.replicaCount=1 --wait recruit ../../charts/recruit
          helm upgrade --install -n recruit -f recruit-values.yaml --set notify.replicaCount=2 --wait recruit ../../charts/recruit
          helm upgrade --install -n recruit -f recruit-values.yaml --set notify.replicaCount=3 --wait recruit ../../charts/recruit

      - name: Run chaos testing workflow
        working-directory: tests/chaos
        run: |
          ./argo submit argo-workflow.yaml -n recruit --wait --log
