name: ci
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  release:
    types:
      # If you want a workflow to run when stable and pre-releases publish, subscribe to published instead of released and prereleased.
      # <https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release>
      - published

permissions: read-all

jobs:
  build:
    permissions:
      actions: read
      contents: read
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading container images, signatures, and attestations.
    strategy:
      matrix:
        include:
          - module: "query"
            context: "src/"
          - module: "notify"
            context: "src/"
          - module: "list"
            context: "src/list/"
    uses: ./.github/workflows/build.yaml
    with:
      module-name: ${{ matrix.module }}
      context: ${{ matrix.context }}

  test:
    runs-on: ubuntu-22.04
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: "query"
            e2e-test-directory: "tests/e2e/"
          - module: "notify"
            e2e-test-directory: "tests/e2e/"
          # Disabled temporarily
          # - module: "list"
          #   e2e-test-directory: "frontend/tests/e2e/"
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}/${{ matrix.module }}
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - uses: ./.github/actions/test-image
        with:
          project-name: ${{ matrix.module }}
          image-name: ${{ env.IMAGE_NAME }}
          image-tag: ${{ needs.build.outputs.image-tag }}
          e2e-test-directory: ${{ matrix.e2e-test-directory }}

  k8s-test:
    needs:
      - build
      - test
    uses: ./.github/workflows/test-k8s-installation.yaml
    with:
      image-tag: ${{ needs.build.outputs.image-tag }}

  docker-compose-test:
    needs:
      - build
      - test
    uses: ./.github/workflows/test-compose-installation.yaml
    with:
      image-tag: ${{ needs.build.outputs.image-tag }}

  release:
    # the docker compose image tags only change on releases, so
    # it's sufficient to just run tests then.
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    permissions:
      actions: read
      contents: write # for release notes
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading container images, signatures, and attestations.
    needs:
      - k8s-test
      - docker-compose-test
    uses: ./.github/workflows/release.yaml
    secrets:
      token: ${{ secrets.MIRACUM_BOT_SEMANTIC_RELEASE_TOKEN }}
