name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-java-modules:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        module:
          - query
          - notify
      fail-fast: true
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # tag=v3.4.1
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@356abb47e7664b5505e25d7997a5a522a17c62d9 # tag=v2.3.0

      - name: Build
        run: ./gradlew :${{ matrix.module }}:build

      - name: Generate test report
        run: ./gradlew :${{ matrix.module }}:jacocoTestReport

      - name: Build container image
        env:
          # TODO: get from somewhere else. Or let https://github.com/googleapis/release-please do the work?
          ORG_GRADLE_PROJECT_version: "test"
        run: |
          ./gradlew :${{ matrix.module }}:downloadOpenTelemetryJavaAgent
          ./gradlew -Djib.console=plain :${{ matrix.module }}:jibDockerBuild

      - run: |
          echo "run isolated e2e tests"

  build-list-module:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./src/list
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - run: |
          docker build -t test .
          docker image ls

      - run: |
          echo "run isolated e2e test"

  integration-tests:
    runs-on: ubuntu-22.04
    needs:
      - build-java-modules
      - build-list-module
    steps:
      - run: |
          echo "starting test fixtures: FHIR server, OHDSI stack, Mail"
          echo "run e2e workflow..."
