name: release-please

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        with:
          token: ${{ secrets.MIRACUM_BOT_SEMANTIC_RELEASE_TOKEN }}
