name: release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
        with:
          fetch-depth: 0

      - name: Build Docker Compose deployment bundle
        run: |
          mkdir -p dist/
          cp -r docker-compose/ dist/
          tar -C dist -zcvf dist/recruit-docker-compose.tar.gz docker-compose/

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@3b88c82b34098e8b51e401c1082c9170b0a3ec3c # tag=v3.0.0
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits@5.0.0
          dry_run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
