name: "k8s test"

on:
  workflow_call:
    inputs:
      image-tag:
        description: "Name of the image tag to test with"
        type: string
        required: true

permissions:
  contents: read

jobs:
  test:
    name: Test installation on k8s
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build tester image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          load: true
          context: tests/chaos/tester
          # this image is never pushed to a registry anyway, so we can
          # hard-code it here.
          tags: |
            ghcr.io/miracum/recruit/tester:v1

      - name: Create k8s KinD cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          cluster_name: kind

      # TODO: consolidate with chaos-testing workflow
      - name: Install testing prerequisites
        run: |
          curl -sL -o - https://github.com/argoproj/argo-workflows/releases/download/v3.7.2/argo-linux-amd64.gz | gunzip > argo
          chmod +x ./argo

          kubectl create namespace recruit

          helm upgrade --install argo-workflows oci://ghcr.io/argoproj/argo-helm/argo-workflows  \
              --create-namespace \
              -n argo-workflows \
              -f tests/chaos/argo-workflows-values.yaml \
              --version 0.45.26

      - name: Download all artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: "*-build-artifacts"
          path: /tmp

      - name: Load container images
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          kind load image-archive /tmp/query-build-artifacts/query-image.tar
          kind load image-archive /tmp/list-build-artifacts/list-image.tar
          kind load image-archive /tmp/notify-build-artifacts/notify-image.tar
          kind load image-archive /tmp/query-fhir-trino-build-artifacts/query-fhir-trino-image.tar

      - name: Load tester image
        run: |
          kind load docker-image ghcr.io/miracum/recruit/tester:v1

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Add helm repos and update deps of recruit chart
        run: |
          task helm-add-repos
          task helm-update-dependencies
          helm dependency build charts/recruit

      - name: Install chart
        env:
          IMAGE_TAG: ${{ inputs.image-tag }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          # image.repository is set to make it easier to run in forks - particularly to test releases.
          helm install --create-namespace -n recruit \
            --set "query.image.repository=${GITHUB_REPOSITORY}/query" \
            --set "query.image.tag=${IMAGE_TAG}" \
            --set "notify.image.repository=${GITHUB_REPOSITORY}/notify" \
            --set "notify.image.tag=${IMAGE_TAG}" \
            --set "list.image.repository=${GITHUB_REPOSITORY}/list" \
            --set "list.image.tag=${IMAGE_TAG}" \
            --set "queryFhirTrino.image.repository=${GITHUB_REPOSITORY}/query-fhir-trino" \
            --set "queryFhirTrino.image.tag=${IMAGE_TAG}" \
            -f charts/recruit/values-integrationtest.yaml \
            --wait --timeout=25m \
            recruit charts/recruit/

      - name: Run helm test
        run: |
          helm test -n recruit recruit

      - name: Run e2e testing workflow
        # TODO: temporarily ignore failures - seems like a false negative
        continue-on-error: true
        run: |
          ./argo submit tests/integration/argo-workflow.yaml -n recruit --wait --log

      - name: Print cluster logs
        if: always()
        run: |
          kubectl cluster-info dump -o yaml | tee kind-cluster-dump.txt

      - name: Upload cluster dump
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kind-cluster-dump.txt
          path: |
            kind-cluster-dump.txt
