name: test-docker-compose
on:
  workflow_call:
    inputs:
      image-tag:
        description: "Name of the image tag to test with"
        type: string
        required: true

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-22.04
    env:
      RECRUIT_IMAGE_BASE_NAME: ghcr.io/${{ github.repository }}
      RECRUIT_IMAGE_TAG: ${{ inputs.image-tag }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Download all artifacts
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          path: /tmp

      - name: Load container images
        # only load images from artifacts on PRs, otherwise the image
        # is already pushed and tagged in the registry
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker load --input /tmp/query-build-artifacts/query-image.tar
          docker load --input /tmp/list-build-artifacts/list-image.tar
          docker load --input /tmp/notify-build-artifacts/notify-image.tar
          docker image ls -a

      - name: Deploy using Docker Compose in staging mode
        run: |
          docker compose \
            --project-name=recruit \
            --env-file=docker-compose/.staging.env \
            -f docker-compose/docker-compose.yaml \
            -f docker-compose/docker-compose.staging.yaml up --detach

      - name: List containers
        run: |
          docker compose \
            --project-name=recruit \
            --env-file=docker-compose/.staging.env \
            -f docker-compose/docker-compose.yaml \
            -f docker-compose/docker-compose.staging.yaml ps

      - name: Run basic health probes
        run: |
          docker compose \
            --project-name=recruit \
            --env-file=docker-compose/.staging.env \
            -f docker-compose/docker-compose.yaml \
            -f docker-compose/docker-compose.staging.yaml \
            -f docker-compose/docker-compose.probe.yaml run health-probes

      - name: Display logs
        if: always()
        run: |
          docker compose \
            --project-name=recruit \
            --env-file=docker-compose/.staging.env \
            -f docker-compose/docker-compose.yaml \
            -f docker-compose/docker-compose.staging.yaml logs
