name: validate-fhir-resources

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  validate-fhir-resource:
    name: Validate FHIR resources
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.20@sha256:da5eef6ee0404adc95f2c625b2e31f32c6a907c186a766e0620e937c94de9749
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Restore FHIR package dependencies
        working-directory: fhir/
        run: |
          fhir restore

      - name: Validate generated FHIR resources
        working-directory: fhir/
        shell: bash
        run: |
          find ../src/ -name "*.fhir.json" -exec fhir validate --verbose --fail "{}" \;
