name: validate-fhir-resources

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  validate-fhir-resource:
    name: Validate FHIR resources
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.26@sha256:9f4f3aab97276c7ffc1089b28969b14fd7693d89e4242970651bf4fe2371c8d4
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Restore FHIR package dependencies
        working-directory: fhir/
        run: |
          fhir restore

      - name: Validate generated FHIR resources
        working-directory: fhir/
        shell: bash
        run: |
          find ../src/ -name "*.fhir.json" -exec fhir validate --verbose --fail "{}" \;
