name: validate-fhir-resources

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  validate-fhir-resource:
    name: Validate FHIR resources
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.25@sha256:25c8e381a9c3768b18ebd470543c0716cf72523677fd0824fc3ce81b84f0ff3b
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Restore FHIR package dependencies
        working-directory: fhir/
        run: |
          fhir restore

      - name: Validate generated FHIR resources
        working-directory: fhir/
        shell: bash
        run: |
          find ../src/ -name "*.fhir.json" -exec fhir validate --verbose --fail "{}" \;
