# For some reason megalinter ignores the yamllint config
# and attempts to lint charts/recruit/templates causing
# it to fail constantly. So we run yamllint as a dedicated step
# instead.
name: yamllint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions: read-all

jobs:
  yamllint:
    runs-on: ubuntu-22.04
    # contains yamllint
    container: ghcr.io/chgl/kube-powertools:v1.22.1@sha256:57b86acaa4129fe1d229e984ac630d3f1f0f80aa270f6216765219922f7181e3
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Run yamllint
        run: yamllint -c .yamllint.yaml .
